body{
    background-color: #4c4c4c;
    transform: scale(0.75);
    transform-origin: top left;
    width: 133.33%; /* compensate for shrink so it still fills screen */
    overflow-x: hidden;
}
video{
    max-width: 75%;
    align-self: center;
}
.pixelify-sans {
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-size: 22.5px;
    color: white;
    font-style: normal;
    font-variation-settings: "MONO" 1;

}

.fav{
    color: #ffffff;
    background-color: #ff004d;
    height: 15px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textbox {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 22.5px;
    font-family: "Google Sans Code", monospace;
}
.button{
    border: none;
    background: none;
    font-family: "Google Sans Code", monospace;
    font-size: 22.5px;
    color: #f8e430;
    margin: auto;
}

.input{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button:hover{
    color: #4bf830;
}

.comments{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left:auto;
    margin-right:auto;
    gap: 10px;
    justify-self: center;
}
.comment{
    display: flex;
    flex-direction: column;
    background: #000000;

    width: 400px;
    height: 100px;
    justify-self: center;
    padding: 10px;
    text-wrap: wrap;

}
.text{
    text-wrap: wrap;
    word-break: break-all;
}

.time{
    color: #4c4c4c;
    background-color: #a6a6a6;
    width: 400px;
}

.graytext{
    color: #9e9e9e;
    line-height: 0;
    margin: 0;
    text-align: center;
}
h6, h2, h3{
    text-align: center;
    font-weight: 100;
}
.important{
    color: #fd3636;
    text-align: center;
}


a{
    color: #f8e430;
    text-decoration: none;
}
a:hover{
    color: #4bf830;

}
.link{
    font-size: 28px;
}

.content{
    margin-left: 20%;
    margin-right: 20%;
}

.centerlink{
    display: block;
    text-align: center;
}

.row{
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-left: 10%;
    margin-right: 10%;
}

.rentry{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}
img{
    max-width: 100%;
}


.project{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding: 2rem;
}
.projectcontainer{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}
.embedded{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}


