body{
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: normal;
    font-variation-settings: "MONO" 1;
    color:#fff;
    background-color: #333;
    overflow-x:hidden;
    margin: 0;
}

.twothird{
    width: 66.66%;
}

.scroll{
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}




.spacer{
    height: 100px;
}

.title{
    padding: 5px;
}

.list{
    flex: 1;

}

.interaction{
    width: 2rem;
    height: 2rem;
    background-color: #555;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}
.arrow{
    margin-top: 15%;
    width: 70%;
    height: 70%;
    transition: color 0.1s;
    color: #333;
}

.arrowDown{
    color: #ca5656;
}

.arrowUp{
    color: #67ca56;
}

.arrowUp:hover, .arrowDown:hover{
    color: #fff;
    cursor: pointer;
    transition: color 0.1s;
}


.center{
    text-align: center;
    padding: 1rem;
}

.text85{
    font-size: 115%;
    margin-top: 4px;
}

.graytext{
    color: #888;
    font-size: 75%;
    padding-left: 4px;
}

.inline{
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.entry{
    background-color: #555;
    padding: 10px;
    justify-content: center;
    gap: 5px;
    border-style: solid;
    border-color: #333;
    border-width: 1px;
    
}

.post{
    background-color: #333;
    margin: 10px;
  
}

.post .entry{
  border-radius: 10px;
}

.button:hover{
    color: #3df730;

}

*{
    box-sizing: border-box;
    scrollbar-color: #555 #333;
}

.bg{
    background-color: #333;
    padding: 5px;
    height: 8lh;
    border-style: none;
}

.row, .forcerow{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.main{
    display:flex;
    flex-direction:column;
    width: 50%;

    margin:auto;
    margin-top: 3lh;
}



.column{
    display:flex;
    flex-direction: column;
}

.ytvids{
    background-color: #555;
    padding: 4px;
    overflow-x: auto;
}

iframe{
    width: auto;
    box-shadow: 5px 5px 2px #333a;
    padding: 0;
    margin: 10px;
}



a, .button{
    color: #F7DF30;
}

a:hover, .button:hover{
    color: #3df730;
    cursor: pointer;
}

kbd{
  background-color: #333;
  padding: 1px;
  border-radius:5px;
  border-style: solid;
  border-width: 1px;
  border-color:#000;
  color: #ddd;
  min-width:800px;
}

kbd:hover{
  color: #fff;
}

img{
    width: 30px;
    height: 30px;
}

.pc75{
width: 75%;
    height: 400px;
}

.pc25{
    width: 25%;
    height: 400px;
}

@media (max-width: 800px) {
    .main{
        width: 90%;
    }
    .row{
        flex-direction: column;
    }
    body{
        zoom:100%;
    }
    .pc25 , .pc75{
        width: 100%;
    }
}