body{
    background: #e5e5e5;
    color: #1c31b9;
    font-family: verdana, serif;
}

.row, .divider{
    gap: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center
}

.divider{
    justify-content: space-between;
}

.entry{
    background: #ffffff;
    min-height: 100px;

    color: #000000;
    text-align: left;

    padding: 5px;
    margin-bottom: 5px;

    flex: 1;
}

.top.entry{
    border-radius: 10px;
    border: 2px solid #fff;
}

.top.entry:hover{
    border: 2px solid rgb(91 91 255 / 0.39);
}


.title{
    text-align: center;
    background: #0e30ff;
    padding: 5px;
    border-radius:10px;
    color: #fff;
}

.project-tile > .title{
    background: none;
    color: black;
}

.red{
    color: #e55
}

.grey{
    color: #666
}

.main{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

.small{
    font-size: 12px;
    margin-left: 10px;
    margin-top:-10px;
}

.project-tile{
    min-width: 220px;
    max-width: 220px;
    height: 320px;
    background: #ddf;
    margin-left: -5px;
    border-radius:10px;
    display: flex;
    flex-direction: column;

}

.project-tile:hover{
    background: #c9c9ff;
    cursor: pointer;

}

.horizontal-scroll{
    display: flex;
    flex-direction: row;
    gap: 10px;
    overflow-x:scroll;
    scrollbar-color: #888 #fff;
}

.langs{
    margin-top:auto;
    margin-bottom: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:4px;

}
.description {
    background: #fff;
    margin: 10px;
    padding: 4px;
    border-radius: 5px;
    font-size: 12px;
}

.language{
    font-size: 12px;
    border-radius: 4px;
    background: white;
    padding: 2px;
    border: 1px solid #999;
}

.image{
    max-width: 200px;
    min-width: 200px;
    max-height: 110px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}
img{
    flex: 1;
}