body{
    background: #fff;
    color: #1c31b9;
    font-family: verdana
}

.row, .divider{
    gap: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center
}

.divider{
    justify-content: space-between;
}

.entry{
    background: #ffffff;
    min-height: 100px;

    color: #000000;
    text-align: left;

    padding: 5px;
    margin-bottom: 5px;

    flex: 1;
}

.top.entry{
    border-radius: 10px;
    border: 2px solid rgb(0 0 255 / 0.39);
    transition: 200ms
}

.top.entry:hover{
    box-shadow: 0px 0px 2px #00F;
    transition: 200ms;
}


.title{
    text-align: center;
    background: #0e30ff;
    padding: 5px;
    border-radius:10px;
    color: #fff;
}

.red{
    color: #e55
}

.grey{
    color: #666
}

.main{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

.small{
    font-size: 12px;
    margin-left: 10px;
    margin-top:-10px;
}

.project-tile{
    width: 220px;
    height: 300px;
    background: #222;
    margin-left: -5px;
    border-radius: 10px;
}

.project-tile:hover{
    background: #333;
    cursor: pointer;
}

.horizontal-scroll{
    display: flex;
    flex-direction: row;
    gap: 10px;
    overflow-x:scroll;
    scrollbar-color: #fff #000;
}