body{
    display : flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

.information{
    animation:1s;
}

.title{
    min-height: 2rem;
  color: #fff;
  display: flex;
  justify-content: center;
  font-size: 150%;
  margin-bottom:5px;
}

.left{
    text-align: left;
}

.gray{
  font-size:10px;
  padding:1px;
}
.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

kbd{
  padding:3px;
}

.soon{
    color: #555;
}

.spckbd{
    height: 300px;
    overflow-y: auto;
}

.spckbd kbd {
    display: block;

    padding: 3px;
    margin: 0;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 12px;
}


body{

  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  color:#fff;
 justify-content:center;
  display:flex;
}
.main{
  max-width: 1000px;
}

.sub {

    flex: 1;
    padding: 5px;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-bottom: 5px;

}



a, .qlink{

}

a:hover, .qlink:hover{

    cursor: pointer;
}

.tab{
    display: inline-block;
    width: 20px;
}

.kwdvalue{
    color: #d68bfb;
}

.kwdtype{
    color: #ffe448;
}
.kwdfunc{
    color: #ff6a48;
}

.kwdtype, .kwdfunc, .kwdvalue{
    transition: font-size 0.25s;
    font-size: 12px;
}


.kwdtype:hover, .kwdfunc:hover, .kwdvalue:hover{
    font-weight: bolder;
    cursor: help;
    transition: font-size 0.25s;
    font-size: 15px;
}


.post_section{
  height:20rem;

  margin:5px;
  overflow-y:scroll;
}

.post{

  margin:10px;
  border-radius:10px;
  padding:5px;
    box-shadow: 2px 2px 4px #000;
}

.post .title{

    border-radius:10px;
}

.sub{
    border-radius: 10px;
    box-shadow: 1px 1px 4px #000;
}

.soon{
    color: #555;
}
